<%= form_for @line_item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :object_id %><br />
    <%= f.text_field :object_id %>
  </p>
  <p>
    <%= f.label :object_type %><br />
    <%= f.text_field :object_type %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p><%= f.submit %></p>
<% end %>
