<% title "Line Item" %>

<p>
  <strong>Object:</strong>
  <%= @line_item.object_id %>
</p>
<p>
  <strong>Object Type:</strong>
  <%= @line_item.object_type %>
</p>
<p>
  <strong>Product:</strong>
  <%= @line_item.product_id %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @line_item.quantity %>
</p>

<p>
  <%= link_to "Edit", edit_line_item_path(@line_item) %> |
  <%= link_to "Destroy", @line_item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", line_items_path %>
</p>
